name: learn-github-actions
on: [pull_request, push]
permissions:
  contents: read
  pull-requests: write
jobs:
  run-jest-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Setup npmrc
        run: echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_AUTH_TOKEN}}" > .npmrc
      - name: Install Dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:ci
      - name: success label
        if: success()
        uses: andymckay/labeler@master
        with:
          add-labels: "success"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: fail label
        if: failure()
        uses: andymckay/labeler@master
        with:
          add-labels: "failure"
          repo-token: ${{ secrets.GITHUB_TOKEN }}